/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}
body{
  padding: 40px;
}
main {
  padding: 40px;
  margin: 20px 0;
  width: 100%;
  min-height: 100px;
  background: rgb(240, 240, 240);
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
